table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

mat-header-cell,
mat-cell {
  -webkit-justify-content: center;
  justify-content: center;
}

td:last-child,
th:last-child {
  border-left: var(--pu-blue) !important;
}


.mat-row:nth-child(odd) {
  background: var(--pu-ligth-grey);
}

.mat-column-id {
  flex: 3rem;
  min-width: 3rem;
}

.mat-column-repositorio,
.mat-column-ci,
.mat-column-cd {
  flex: 6rem;
  min-width: 6rem;
}

.mat-column-proyecto,
.mat-column-cliente,
.mat-column-remitente,
.mat-column-desarrolladores,

.mat-column-frontend,
.mat-column-backend,
.mat-column-db,
.mat-column-alertas,
.mat-column-errores,
.mat-column-despliegues,
.mat-column-avance,
.mat-column-reporte,
.mat-column-status {
  flex: 8rem;
  min-width: 8rem;
}

.mat-column-desarrolladores {
  flex: 14rem;
  min-width: 14rem;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 5rem;
  min-width: 5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.color__green {
  color: green;
  font-family: var(--pu-font);
  font-weight: 400;
}

.color__red {
  color: red;
}

.color__black {
  color: black;
}

.color__yellow {
  color: black;
  font-family: var(--pu-font);
  font-weight: 400;
  background-color: var(--pu-yellow);

}

.project__button-create {
  height: 60px;
  max-height: 60px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;

}

.project__button{
  background-color: var(--pu-blue);
  color: var(--pu-white);
  font-family: var(--pu-font);
  font-weight: 300;
  border: none;
  border-color: var(--pu-blue);
  width: 40%;
  height: 40px;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.project__button:hover{
  background-color: var(--pu-green);
  color: var(--pu-color-font);

}

.tablaMensajes__boton {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.project__button-container:nth-child(1) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.project__button-container {
  border: none;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .project__button{
    width: 20%;
    font-size: 1.2rem;

  }
}
