table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

mat-header-cell,
mat-cell {
  -webkit-justify-content: center;
  justify-content: center;
}

td:last-child,
th:last-child {
  border-left: var(--pu-blue) !important;
}

/* COM Tamaño de columnas hasta 999px ******************* */


.mat-column-id {
  flex: 3rem;
  min-width: 3rem;
}

.mat-column-repositorio,
.mat-column-ci,
.mat-column-cd {
  flex: 6rem;
  min-width: 6rem;
}

.mat-column-proyecto,
.mat-column-cliente,
.mat-column-remitente,
.mat-column-desarrolladores,

.mat-column-frontend,
.mat-column-backend,
.mat-column-db,
.mat-column-alertas,
.mat-column-errores,
.mat-column-despliegues,
.mat-column-avance,
.mat-column-reporte,
.mat-column-status {
  flex: 8rem;
  min-width: 8rem;
}

.mat-column-desarrolladores {
  flex: 14rem;
  min-width: 14rem;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 5rem;
  min-width: 5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
