

:root {
	/* Palette primary */
	--pu-purple: #13137F;
	--pu-green: #00F3CB;
	--pu-blue: #007BFF;
	/* Palette secundary */
	--pu-yellow: #edc400;
	--pu-color-font: #0F0F54;
  --pu-ligth-blue:#D2ECFF;
  --pu-pink:#FF4C2A;
	/* Palette neutral */
	--pu-white: #ffffff;
	--pu-light: #f3f3f3;
	--pu-grey: #ced4da;
	--pu-ligth-grey: #e0e4e8;
	/* Fonts */
	--pu-font: 'Poppins', Arial, sans-serif;
	/* Transitions */
	--pu-fx: all 0.3s ease-in-out;
  --shadow-color: rgba(0, 0, 0, .2);
}



